<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>{{ page.title }}</title>
<meta name="author" content="John K. Boyle"/>

<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css">
<style>
body { text-align: center;
	font-size: 1.1;}
.container { max-width: 600px; margin: 0 auto; text-align: left; }
a, a:visited, a:hover { text-decoration: none; }
#sitename { text-align: right; }
</style>

</head>

<body>
<div class="container">
	{{ content }}		
<hr>
</div>

<div class="footer">
	<p>&copy; Copyright 2014 John K. Boyle</p>
	<p>Contact me via an email</p>
</div>
</div>
</body>
</html>
